body {
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
}

/********************************自适应时间轴CSS代码********************************/
.cd-container {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}

.cd-container::after {
	content: '';
	display: table;
	clear: both;
}

#cd-timeline {
	position: relative;
	padding: 2em 0;
}

#cd-timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 4px;
	background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
	#cd-timeline {
		
	}
	
	#cd-timeline::before {
		left: 50%;
		margin-left: -2px;
	}
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}

.cd-timeline-block:after {
	content: '';
	display: table;
	clear: both;
}

.cd-timeline-block:first-child {
	margin-top: 0;
}

.cd-timeline-block:last-child {
	margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
	.cd-timeline-block {
		margin: 4em 0;
	}
	
	.cd-timeline-block:first-child {
		margin-top: 0;
	}
	
	.cd-timeline-block:last-child {
		margin-bottom: 0;
	}
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	background: #3f4147;
	text-align: center;
	line-height: 40px;
	color: #fff;
}

@media only screen and (min-width: 1170px) {
	.cd-timeline-img {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;
		line-height: 60px;
		font-size: 16px;
	}
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 0.25em;
	padding: 1em;
	/*box-shadow: 0 3px 0 #d7e4ed;*/
}

.cd-timeline-content:after {
	content: '';
	display: table;
	clear: both;
}

.cd-timeline-content:before {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid rgba(255, 255, 255, 0.7);
}

.cd-timeline-content h2 {
	color: #303e49;
	font-size: 20px;
	font-weight: 500;
	line-height: 40px;
}

.cd-timeline-content p {
	font-size: 16px;
	text-indent: 32px;
	color: #7f8c97;
	line-height: 24px;
}

.cd-timeline-content .img-box {
	width: 100%;
	padding: 1em 0;
}

.cd-timeline-content .img-box .img-2,
.cd-timeline-content .img-box .img-3 {
	height: auto;
	float: left;
	padding: 2.5px;
}

.cd-timeline-content .img-box .img-2 {
	width: 50%;
}

.cd-timeline-content .img-box .img-3 {
	width: 33.33333333%;
}

.cd-timeline-content .img-box .img-2 img,
.cd-timeline-content .img-box .img-3 img {
	width: 100%;
}

.cd-timeline-content .history-date {
	position: absolute;
	top: 0;
	right: 1em;
	line-height: 60px;
	font-size: 16px;
	color: #9eaab3;
	width: 100px;
}

@media only screen and (min-width: 1170px) {
	.cd-timeline-content {
		margin-left: 0;
		padding: 1.6em;
		width: 45%;
	}
	
	.cd-timeline-content::before {
		top: 24px;
		left: 100%;
		border-color: transparent;
		border-left-color: rgba(255, 255, 255, 0.7);
	}
	
	.cd-timeline-block:nth-child(even) .cd-timeline-content {
		float: right;
	}
	
	.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
		top: 24px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: rgba(255, 255, 255, 0.7);
	}
	
	.cd-timeline-content .history-date {
		top: 0;
		right: -200px;
	}
	
	.cd-timeline-block:nth-child(even) .cd-timeline-content .history-date {
		top: 0;
		left: -200px;
		text-align: right;
	}
}

@media only screen and (max-width: 768px) {
	.cd-timeline-content h2 {
		font-size: 16px;
		font-weight: 500;
		line-height: 32px;
	}
	
	.cd-timeline-content p {
		font-size: 12px;
		text-indent: 24px;
		color: #7f8c97;
		line-height: 18px;
	}
	
	.cd-timeline-content .img-box .img-2,
	.cd-timeline-content .img-box .img-3 {
		padding: 1px;
	}
	
	.cd-timeline-content .history-date {
		font-size: 12px;
		line-height: 50px;
		text-align: right;
	}
}
/********************************自适应时间轴CSS代码********************************/

/********************************自适应弹框CSS代码********************************/
.shade-bar {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.45);
	z-index: 99;
	top: 0;
	left: 0;
	display: none;
}

.shade-bar .popup-box {
	width: 100%;
	min-height: 420px;
	background: #fff;
	margin: 50px auto;
	padding-bottom: 15px;
}

.shade-bar .popup-box .form-group,
.shade-bar .popup-box .picture-list {
	width: 100%;
	min-height: 40px;
	padding: 15px 10px;
}

.shade-bar .popup-box .form-message {
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #c53929;
}

.shade-bar .popup-box .form-group input[type='text'] {
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 0 10px;
}

.shade-bar .popup-box .form-group textarea {
	width: 100%;
	height: 120px;
	font-size: 16px;
	padding: 10px;
	resize: none;
}

.shade-bar .popup-box .form-group input[type='button'] {
	width: 100%;
	height: 40px;
	font-size: 16px;
	background: #A9A9A9;
	border: none;
	color: #fff;
	cursor: pointer;
}

.shade-bar .popup-box .picture-list .picture-show {
	width: 25%;
	float: left;
	padding: 1px;
	overflow: hidden;
	position: relative;
}

@media (min-width: 320px) and (max-width: 350px) {
	.picture-show {
		height: 73px;
	}
	
	.add-btn .icon-plus2 {
		line-height: 73px;
	}
}

@media (min-width: 350px) and (max-width: 365px) {
	.picture-show {
		height: 83px;
	}
	
	.add-btn .icon-plus2 {
		line-height: 83px;
	}
}

@media (min-width: 365px) and (max-width: 380px) {
	.picture-show {
		height: 86.75px;
	}
	
	.add-btn .icon-plus2 {
		line-height: 86.75px;
	}
}

@media (min-width: 380px) and (max-width: 420px) {
	.picture-show {
		height: 96px;
	}
	
	.add-btn .icon-plus2 {
		line-height: 96px;
	}
}

@media (min-width: 420px) and (max-width: 500px) {
	.picture-show {
		height: 110px;
	}
	
	.add-btn .icon-plus2 {
		line-height: 110px;
	}
}

@media (min-width: 500px) and (max-width: 700px) {
	.picture-show {
		height: 150px;
	}
	
	.add-btn .icon-plus2 {
		line-height: 150px;
	}
}

@media (min-width: 700px) and (max-width: 800px) {
	.picture-show {
		height: 185px;
	}
	
	.add-btn .icon-plus2 {
		line-height: 185px;
	}
}

@media (min-width: 800px) and (max-width: 1170px) {
	.picture-show {
		height: 200px;
	}
	
	.add-btn .icon-plus2 {
		line-height: 200px;
	}
}

.shade-bar .popup-box .picture-list .add-btn {
	border: 1px solid #a9a9a9;
}

.shade-bar .popup-box .picture-list .add-btn .icon-plus2 {
	position: absolute;
	left: 50%;
	font-size: 20px;
	margin-left: -10px;
	color: #a9a9a9;
}

.shade-bar .popup-box .picture-list .picture-show .icon-times-circle {
	position: absolute;
	right: 1px;
	top: 0;
	color: #a9a9a9;
	font-size: 16px;
	cursor: pointer;
}

@media only screen and (min-width: 1170px) {
	.shade-bar .popup-box {
		width: 600px;
	}
	
	.shade-bar .popup-box .picture-list .picture-show {
		width: 20%;
		padding: 2px;
		height: 112px;
	}
	
	.shade-bar .popup-box .picture-list .add-btn {
		width: 112px;
		height: 112px;
		padding: 0;
		margin-left: 2px;
		margin-top: 1px;
		cursor: pointer;
	}
	
	.shade-bar .popup-box .picture-list .add-btn .icon-plus2 {
		line-height: 112px;
	}
	
	.shade-bar .popup-box .picture-list .picture-show .icon-times-circle {
		position: absolute;
		right: 2px;
		top: 1px;
	}
}

.shade-bar .popup-box .box-top {
	width: 100%;
	padding-top: 10px;
	font-size: 16px;
	text-align: center;
	position: relative;
}

.shade-bar .popup-box .box-top span {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	color: #A9A9A9;
}

.shade-bar .popup-box .box-top span.icon-close:hover {
	color: #c53929;
}
/********************************自适应弹框CSS代码********************************/

/********************************顶部导航栏CSS代码********************************/
.nav-top {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #3f4147;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 999;
}

.nav-top .icon-angle-left {
	color: #FFFFFF;
	line-height: 48px;
	font-size: 32px;
	margin-left: 5px;
	float: left;
}

.nav-top .left-title {
	float: left;
	line-height: 50px;
	color: #FFFFFF;
	font-size: 16px;
	margin-left: 5px;
}

.nav-top .center-title {
	position: absolute;
	width: 100px;
	line-height: 50px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	left: 50%;
	margin-left: -50px;
}

.nav-top .right-btn {
	color: #FFFFFF;
	line-height: 48px;
	font-size: 25px;
	margin-right: 10px;
	float: right;
}

.nav-top .right-title {
	color: #FFFFFF;
	line-height: 48px;
	font-size: 16px;
	margin-right: 10px;
	float: right;
}
/********************************顶部导航栏CSS代码********************************/