body {
	background: #fff;
}

.life-bar{
	width: 100%;
	padding-bottom: 20px;
}

.life-bar .life-list {
	width: 100%;
	margin-top: 20px;
}

.life-bar .life-list .life-img {
	height: 240px;
	width: 100%;
	overflow: hidden;
}

.life-bar .life-list .life-img img {
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.life-bar .life-list .life-bottom {
	padding: 0 20px;
	background: #fff;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	height: 300px;
}

.life-bar .life-list .col-lg-4 {
	margin-top: 20px;
}

.life-bar .life-list .col-lg-4:hover img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.life-bar .life-list .life-bottom .life-title {
	line-height: 32px;
	font-size: 18px;
	font-weight: 500;
	color: #666;
	padding: 20px 0;
}

.life-bar .life-list .life-bottom .life-time span {
	font-size: 16px;
	color: #c9c9c9;
}

.life-bar .life-list .life-bottom .life-time span.icon-bubble {
	font-size: 14px;
	line-height: 20px;
	margin-left: 5px;
	color: #019bE1;
}

.life-bar .life-list .life-bottom .life-sumary {
	padding: 20px 0;
	color: #878787;
	font-size: 14px;
}

.life-bar .life-list .life-bottom .life-btn {
	height: 40px;
	width: 100%;
}

.life-bar .life-list .life-bottom .life-btn .link-button {
	display: inline-block;
	cursor: pointer;
	border: none;
	background: #019bE1;
	color: #fff;
	width: 120px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
}

.detail-box {
	padding: 0 20px;
	border-right: 1px dashed #999;
	margin: 20px 0;
}

.detail-bar h1 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.detail-bar .opinion-info {
	margin: 20px 0;
	text-align: center;
	color: #999;
}

.detail-bar .opinion-info span {
	color: #999;
}

.detail-bar .opinion-content {
	margin-bottom: 20px;
}

.opinion-near p {
	color: #999;
	line-height: 24px;
}

.opinion-near a:hover {
	text-decoration: underline;
}

.comment-box {
	margin-top: 20px;
}

.comment-box h2 {
	line-height: 32px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #F1F1F1;
}

.comment-box .comment-publish {
	padding: 20px 0;
}

.comment-box .comment-publish textarea {
	width: 100%;
    height: 120px;
    padding: 10px;
    resize: none;
}

.comment-box .comment-publish input[type=button] {
    width: 72px;
    height: 30px;
    border: none;
    background: #019BE1;
    color: #fff;
    cursor: pointer;
}

.comment-box .comment-list .comment-detail {
	padding: 10px 0;
	border-top: 1px solid #e3e3e3;
}

.comment-box .comment-list .comment-detail .father-header {
	height: 50px;
	width: 10%;
}
.comment-box .comment-list .comment-detail .father-header img {
	height: 50px;
	width: 50px;
}

.comment-box .comment-list .comment-detail .comment-content {
	width: 90%;
	font-size: 16px;
}

.comment-box .comment-list .comment-detail .comment-content a {
	color: #019BE1;
}

.comment-box .comment-list .comment-detail .comment-content p {
	font-size: 14px;
	color: #ccc;
}

.father-info {
	width: 100%;
	padding-bottom: 10px;
}

.comment-box .comment-list .read-more {
	text-align: center;
}

.comment-box .comment-list .read-more a {
	color: #019BE1;
}

.comment-box .comment-list .read-more a:hover {
	text-decoration: underline;
}

.comment-box .comment-list .comment-detail .comment-tips {
	text-align: center;
	font-size: 16px;
	color: #999;
}

.comment-box .comment-list .comment-detail .comment-content .sub-publish {
	padding: 10px 0;
}

.comment-box .comment-list .comment-detail .comment-content .sub-header {
	height: 30px;
	width: 10%;
}

.comment-box .comment-list .comment-detail .comment-content .sub-header img {
	width: 30px;
	height: 30px;
}

.comment-box .comment-list .comment-detail .comment-content .sub-publish .sub-input {
	width: 90%;
	height: 30px;
}

textarea:focus {
	border-color: #019BE1;
}

.comment-box .comment-list .comment-detail .comment-content .sub-publish .sub-input input[type=text] {
	width: 100%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #A9A9A9;
}

.comment-box .comment-list .comment-detail .comment-content .sub-btn {
	padding-bottom: 10px;
}

.comment-box .comment-list .comment-detail .comment-content .sub-btn input[type=button] {
	width: 50px;
	height: 25px;
	background: #019BE1;
	color: #fff;
	border: none;
	float: right;
	cursor: pointer;
}

.comment-box .comment-list .comment-detail .comment-content .sub-detail {
	padding: 10px 0;
	border-top: 1px solid #E3E3E3;
}

.comment-box .comment-list .comment-detail .comment-content .sub-detail .sub-info {
	width: 660px;
}

.left-box {
	margin: 20px 0;
	border-right: 1px dashed #999;
	min-height: 400px;
}

.essay-title {
	margin-bottom: 20px;
}

.essay-title .title-tips {
	float: left;
	line-height: 40px;
	font-size: 18px;
}

.essay-title .title-text {
	float: left;
	width: 80%;
}

.essay-title .title-text input[type=text] {
	width: 100%;
	height: 40px;
	padding: 0 10px;
}

.btn-group {
	margin: 20px 0;
	text-align: center;
	width: 100%;
}

.btn-group input {
	border: none;
	background: #019BE1;
	width: 72px;
	height: 30px;
	color: #fff;
	cursor: pointer;
	margin: 0 10px;
}