body {
	background-color: #e9f0f5;
}

.cd-container {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}

.cd-container::after {
	content: '';
	display: table;
	clear: both;
}

#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
}

#cd-timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 4px;
	background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
	#cd-timeline {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	
	#cd-timeline::before {
		left: 50%;
		margin-left: -2px;
	}
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}

.cd-timeline-block:after {
	content: '';
	display: table;
	clear: both;
}

.cd-timeline-block:first-child {
	margin-top: 0;
}

.cd-timeline-block:last-child {
	margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
	.cd-timeline-block {
		margin: 4em 0;
	}
	
	.cd-timeline-block:first-child {
		margin-top: 0;
	}
	
	.cd-timeline-block:last-child {
		margin-bottom: 0;
	}
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	background: #75ce66;
	text-align: center;
	line-height: 40px;
	color: #fff;
}

@media only screen and (min-width: 1170px) {
	.cd-timeline-img {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;
		line-height: 60px;
		font-size: 16px;
	}
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: white;
	border-radius: 0.25em;
	padding: 1em;
	box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline-content:after {
	content: '';
	display: table;
	clear: both;
}

.cd-timeline-content:before {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid white;
}

.cd-timeline-content h2 {
	color: #303e49;
	font-size: 20px;
	font-weight: 500;
	line-height: 40px;
}

.cd-timeline-content p {
	font-size: 16px;
	text-indent: 32px;
	color: #7f8c97;
	line-height: 24px;
}

.cd-timeline-content .img-box {
	width: 100%;
	padding: 1em 0;
}

.cd-timeline-content .img-box .img-2,
.cd-timeline-content .img-box .img-3 {
	height: auto;
	float: left;
	padding: 2.5px;
}

.cd-timeline-content .img-box .img-2 {
	width: 50%;
}

.cd-timeline-content .img-box .img-3 {
	width: 33.33333333%;
}

.cd-timeline-content .img-box .img-2 img,
.cd-timeline-content .img-box .img-3 img {
	width: 100%;
}

.cd-timeline-content .history-date {
	position: absolute;
	top: 0;
	right: 1em;
	line-height: 60px;
	font-size: 16px;
	color: #9eaab3;
	width: 100px;
}

@media only screen and (min-width: 1170px) {
	.cd-timeline-content {
		margin-left: 0;
		padding: 1.6em;
		width: 45%;
	}
	
	.cd-timeline-content::before {
		top: 24px;
		left: 100%;
		border-color: transparent;
		border-left-color: white;
	}
	
	.cd-timeline-block:nth-child(even) .cd-timeline-content {
		float: right;
	}
	
	.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
		top: 24px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: white;
	}
	
	.cd-timeline-content .history-date {
		top: 0;
		right: -200px;
	}
	
	.cd-timeline-block:nth-child(even) .cd-timeline-content .history-date {
		top: 0;
		left: -200px;
		text-align: right;
	}
}

@media only screen and (max-width: 768px) {
	.cd-timeline-content h2 {
		font-size: 16px;
		font-weight: 500;
		line-height: 32px;
	}
	
	.cd-timeline-content p {
		font-size: 12px;
		text-indent: 24px;
		color: #7f8c97;
		line-height: 18px;
	}
	
	.cd-timeline-content .img-box .img-2,
	.cd-timeline-content .img-box .img-3 {
		padding: 1px;
	}
	
	.cd-timeline-content .history-date {
		font-size: 12px;
		line-height: 50px;
		text-align: right;
	}
}